.wd-verified {
    height: 13px;
    width: 15px;
    border-radius: 50%;
    padding: 1px;
    margin: 2px;
}

.wd-logo {
    height: auto;
    width: 100%;
    border-radius: 25px;
    border-right: 16px;
}

.wd-gray-color {
    color: rgb(110, 118, 125);
}

.wd-bold {
    font-weight: bold;
}

.wd-image {
    border-radius: 50%;
    width: 48px;
    float: left;
    height: 48px;
}

.wd-author {
    font-size: 15px;
    color: white;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.wd-handle {
    font-size: 15px;
    color: lightgray;
    position: relative;
    display: inline;
    align-items: flex-start;
}

.wd-ellipsis {
    color: white;
    float: right;
    padding-right: 12px;
}

.wd-bookmark-footer {
    padding: 10px;
}

.wd-bookmark-feed {
    border-radius: 20px;
    border: 1px solid lightgray;
    overflow: hidden;
}

.wd-feed-title {
    color: white;
    padding-left: 12px;
    padding-top: 12px;
}

.wd-feed {
    color: rgb(110, 118, 125);
    font-size: 13px;
    padding-left: 12px;
    padding-top: 12px;
}

.wd-feed-image {
    width: 100%;
    height: 264px;
}

.wd-count {
    font-weight: 400;
    margin-left: 12px;
    color: lightgray;
}

.wd-icon-color {
    color: lightgray;
}

.wd-icon-area {
    width: 24%;
    text-align: center;
}
